<div class="container">
    <div class="pagination-row">
        {% if page.has_previous %}
        <span class="newer-link">
            <a href="?page={{ page.previous_page_number }}">To the Present</a>
	    </span>
        {% endif %}

        <span class="blog-pager">
	    {% if page.number == 1 %}
		    <a href="?page={{ page.number }}">Home</a>
		{% else %}
          page {{ page.number }}
		{% endif %}
	   </span>

        {% if page.has_next %}
        <span class="older-link">
        <a href="?page={{ page.next_page_number }}">To the Past</a>
	</span>
        {% endif %}

    </div>
</div>