{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adopt a Pet</title>
    <meta charset="utf-8"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,100' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
</head>
<body>
<header>
    <h1>Adopt a Pet</h1>
	<div id="scraper">
	    <p>Animal Rescue</p>
	</div>
</header>
<main>
    <div class="offer">
	
        <h2>Choose a Pet</h2>
        <a class="underline--magical" href="{{ i }}">  </a>
        <p>  </p>
		
    </div>
        {% block content %}
                <form name="contact" method="post" action="">
					{% csrf_token %}
                    <fieldset class="contact-form">
                        <p><label for="{{ form.pet.id_for_label }}"> {{ form.pet.help_text }} </label><br />
						{{ form.pet.choices }}
						{% for choice in form.pet.choices %}
						<input type="select" name="{{ form.pet.id_for_label }}" value="{{ choice }}"> {{ choice }} <br>
						<input type="select" name="{{ form.pet.id_for_label }}" value="{{ choice }}"> {{ choice }} <br>
						{% endfor %}
                        
						</p>
						<p>
                        <label for="{{ form.pet_breed.id_for_label }}">{{ form.pet_breed.help_text  }}</label><br />
												{{ form.pet_breed}}
						</p>
                        <p><label for="{{ form.pet_gender.id_for_label }}"> {{ form.pet_gender.help_text  }}</label>
						{{ form.pet_gender.widget }}
						</p>
						<p></p>
						<p></p>
						<p><label for="form.pet_age.id_for_label">{{ form.pet_age.help_text  }}</label></p>
						{{ form.pet_age }}
						<p></p>

                        
                    </fieldset>
                    <button class="btn btn-form">Send
					</button>					
                </form>
		{% endblock %}

</main>
<footer>
    <div></div>
</footer>
</body>
</html>